*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--body-bg-color);
}
:root{
    --body-bg-color:#fff;
    --h1-color:#231F1B;
    --p-color:#000;
    --h2-color:#60311B;
    --nav-toggle-bg:#fff;
    --nav-toggle-br:rgba(0,0,0,.1);
}
[data-theme="dark"]{
    --body-bg-color:#000;
    --h1-color:#fff;
    --p-color:#fff;
    --h2-color:#d95e25;
    --nav-toggle-bg:#ccc;
    --nav-toggle-br:#ccc;
}
.nav-light{
    display: block;
}
[data-theme="dark"]
.nav-light{
    display: none;
}
.nav-dark{
    display: none;
}
[data-theme="dark"] 
.nav-dark{
    display: block;
    width: 230px;
    height: 40px;
}
.bg-light {
    background-color: #f8f9fa;
}
[data-theme="dark"]
.bg-light {
    background-color: #000;
} 
[data-theme="dark"]
.navbar-light .navbar-nav .nav-link{
    color: #ccc;
}
[data-theme="dark"]
.nav-icon i{
    color: #ccc;
}
.navbar{
    margin-top: 36px;
    margin-left: 139px;
    margin-right: 139px;
}
.navbar-light .navbar-toggler-icon {
    background-color: var(--nav-toggle-bg);
    border-color:var(--nav-toggle-br) ;
}
.nav-link{
    font-family: Be Vietnam;
    font-size: 18px;
    line-height: 42px;
    display: block;
    margin-left: 52px;
    padding: 0px 24px;
}
.navbar-light .navbar-nav .nav-link{
    color: #494E68;
}
.navbar-light .navbar-nav .nav-link.active{
    background-color: #E7D3C6;
    color: #AC7045;
    padding: 0px 24px;
    border-radius: 26px;
}
.navbar-light .navbar-nav .nav-link{
    padding: 0px 24px;
    border-radius: 26px;
}
.navbar-light .navbar-nav .nav-link:hover{
    background-color: #E7D3C6;
    color: #AC7045;
    padding: 0px 24px;
    border-radius: 26px;
}
.nav-login{
    font-family: Be Vietnam;
    font-size: 18px;
    line-height: 23px;
    display: block;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #60311B;
    text-decoration: none;
    color: #fff;
}
.nav-login:hover{
    background-color: #E7D3C6;
    color: #60311B;
}

/* dark and light mode */
.theme-switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
  }
  .toggle-theme{
    margin-left: 20px;
  }
  .theme-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 35px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  [data-theme="dark"]
  .bi-moon-fill{
    font-size: 20px;
    color:#000;
    position: absolute;
    display: block;
    top: 2px;
    left: 8px;
}
.bi-moon-fill{
    display: none;
}

.bi-brightness-high{
    font-size: 20px;
    display: block;
    position: absolute;
    top: 2px;
    left: 7px;
}
[data-theme="dark"]
.bi-brightness-high{
    display: none;
}
/* label {
    display:block;
    font-family: Be Vietnam;
    font-size: 10px;
    padding: 0px;
}
.option{
    font-family: Be Vietnam;
    font-size: 16px;
    padding: 0px;
    margin-left: 42px;
}
select{
    border: none;
    color: #60311B;
} */
.nav-icon a{
    margin-left: 30px;  
    color: #60311B;
    font-size: 20px;
    text-decoration: none;
}
.home-condent h1{
    font-family: Be Vietnam pro;
    color: var(--h1-color);
    font-size: 56px;
    padding-top:178px ;
    padding-left: 100px;
}
.home-condent p{
    font-family: Be Vietnam pro;
    color: var(--p-color);
    font-size: 28px;
    padding-top:20px ;
    padding-left: 100px;
}
.home-btn{
    padding-top: 40px;
    padding-left: 100px; 
}
.home-btn a{
    text-decoration: none;
}
.home-btn .button1{
    font-family: Be Vietnam pro;
    font-size: 21px;
    color: #FFF;
    background-color: #AC7046;
    border-radius: 10px;
    position: relative;
    padding: 18px 77px 17px 30px;
    border:1px solid #AC7046;
}
.home-btn .button1:hover{
    background-color:#60311B ;
    color:#E8D3C6;
}
.button1 .fa-arrow-right{
    position:absolute;
    background-color: #E8D3C6;
    color: #60311B;
    width: 44px;
    height: 43px;
    top: 13px;
    right: 10px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-btn .button2{
    font-family: Be Vietnam pro ;
    font-size: 21px;
    color: #AC7046;
    background-color: transparent;
    border:1px solid #AC7045;
    border-radius: 10px;
    position: relative;
    padding: 18px 77px 17px 30px;
    margin-left: 30px;
}
.home-btn .button2:hover{
    background-color: #60311B;
    color: #E8D3C6;
}
.button2 .fa-arrow-right{
    position:absolute;
    background-color: #AC7046;
    color: #E8D3C6;
    width: 44px;
    height: 43px;
    top: 13px;
    right: 10px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* section */
.section-2{
    padding-top: 120px;
}
.sec-content h2{
    font-family:Be Vietnam Pro, SemiBold ;
    font-size: 46px;
    color: var(--h2-color);
}
.sec-content p{
    font-family:Be Vietnam Pro ;
    font-size: 28px;
    color: var(--p-color);
}
.sec2-btn{
    display: flex;
    align-items: center;
    justify-content: end;
}
.sec2-btn .button3{
    font-family: Be Vietnam ;
    font-size: 22px;
    line-height: 33px;
    color: #E8D3C6;
    background-color: #AC7046;
    border: #AC7046;
    border-radius: 35px;
    position: relative;
    padding: 12px 59px 12px 29px;
}
.button3 .fa-arrow-right{
    position:absolute;
    background-color: #AC7046;
    color: #E8D3C6;
    width: 44px;
    height: 43px;
    top: 6px;
    right: 10px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec2-content{
    background-color: #231F1B;
    color: #FFFFFF;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.sec2-content p{
    color: #fff;
    font: normal normal 300 28px/42px Be Vietnam Pro;
}
.sec2-logo{
    padding: 34px 61px 24px 61px;
}
.logo-sec{
    padding-top: 60px;
    padding-bottom: 189px;
}
/* section-3 */
.sec3-heading h2{
    text-align: center;
    font: normal normal 600 46px/58px Be Vietnam Pro;
    color: var(--h2-color);
}
.sec3-heading p{
    text-align: center;
    font: normal normal 300 28px/42px Be Vietnam Pro;
    color: var(--p-color);
}
.sec3-icon{
    display: flex;
    padding-top: 12px;
    padding-bottom: 30px;
}
.icon-logo{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.sec3-icon i{
    font-size: 14px;
    color: #60311B;
}
.sec3-icon h6{
    padding: 0px 20px;
    font-size: 16px;
    font-family: Be Vietnam Pro;
}
.card{
    border-radius: 15px;
}
.card-body p{
    padding-top: 12px;
padding-bottom: 28px;
}
.com-progress p{
    padding: 0px;
    margin: 0px;
}
.progress{
    padding: 0;
    height: 10px;
}
.progress-bar{
    background-color: #60311B;
}
.com-progress{
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-img{
    float: right;
}
.cry-img{
    padding-right: 10px;
}
.sec3-btn .button3 {
    font-family: Be Vietnam;
    font-size: 22px;
    line-height: 33px;
    color: #E8D3C6;
    background-color: #AC7046;
    border: #AC7046;
    border-radius: 35px;
    position: relative;
    padding: 12px 59px 12px 29px;
}
.sec3-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 189px;
}
/* section-4 */
.card-body1 p{
    font-family: Be Vietnam Pro, Light;
    font-size: 22px;
    color: #000000;
}
.card-body1 h3{
    font-family: Be Vietnam Pro, SemiBold;
    font-size: 36px;
    color: #60311B;
}
.card-body1{
    padding: 34px;
    background-color: #F9F3EF;
}
.card-link1 p{
    font-family: Be Vietnam Pro, Regular;
    font-size: 22px;
    padding: 24px 230px 24px 230px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color: #231F1B;
    border-radius: 0px 0px 20px 20px;
}
.card-link1 p:hover{
    background-color: #AC7046;
    color: #000;
}
.card-link1 a{
    text-decoration: none;
    color: #FFF;
}
.card-link1 i{
    font-size: 20px;
    margin-left: 20px;
    line-height: 33px;
}
.card1{
    padding: 0px 20px;
}
.card2{
    padding: 0px 20px;
}
.card-body2 p{
    font-family: Be Vietnam Pro, Light;
    font-size: 22px;
    color: #E7D3C6;
}
.card-body2 h3{
    font-family: Be Vietnam Pro, SemiBold;
    font-size: 36px;
    color: #E7D3C6;
}
.card-body2{
    padding: 34px;
    background-color: #231F1B;
}
.card-link2 p{
    font-family: Be Vietnam Pro, Regular;
    font-size: 22px;
    padding: 24px 230px 24px 230px;
    display: flex;
    justify-content: center;
    color: #000;
    border-radius: 0px 0px 20px 20px;
    background-color: #F9F3EF;
}
.card-link2 p:hover{
    background-color: #AC7046;
    color: #FFF;
}
.card-link2 a{
    text-decoration: none;
}
.card-link2 i{
    font-size: 20px;
    margin-left: 20px;
    line-height: 33px;
}
.common-card{
    padding-top: 60px;
    padding-bottom: 204px;
}
/* section-5 */
.section-5{
    background-color: #F9F3EF;
}
.sce5-border{
    padding-bottom: 100px;
    border-bottom: 1px solid #231F1B;
}
.com-con{
    padding: 0px 30px;
}
.sec5-heading p{
    font-family: Be Vietnam Pro, Regular;
    text-align: center;
    font-size: 28px;
    color: #000;
}
.sec5-heading h2{
    font-family: Be Vietnam Pro;
    text-align: center;
    font-size: 46px;
    color: #60311B;
    padding-bottom: 65px;
}
.img-div{
    width: 130px;
    height: 130px;
    background-color: #000;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec5-con h3{
    font-family: Be Vietnam Pro;
    text-align: center;
    font-size: 36px;
    color: #60311B;
    padding-top: 44px;
}
.sec5-con p{
    font-family: Be Vietnam Pro, Regular;
    text-align: center;
    font-size: 24px;
    color: #000;
}
/* section-6 */
.section-6{
    background-image:url(images/bg-img.png) ;
    background-size: cover;
    background-repeat: no-repeat;
}
.mobile-img{
    padding-top: 95px;
}
.sec6-con h2{
    padding-top: 185px;
    font-family:Be Vietnam Pro ;
    font-size: 46px;
    color: var(--h2-color);
}
.sec6-con p{
    font-family:Be Vietnam Pro ;
    font-size: 24px;
    color: var(--p-color);
}
.sec6-con{
    padding-right: 100px;
}
.app-buttons{
    padding-top: 40px;
}
.app-img{
    border-radius: 17px;
}
.play-img{
    margin-left: 30px;
    border-radius: 17px;
}
/* section-7 */
.section-7{
    padding-top: 189px;
    padding-bottom: 89px;
    background-color: #000;
}
.contact-logo{
    color: #E7D3C6;
}
.contact-con h3{
    font-family: Be Vietnam Pro;
    font-size: 30px;
    color: #FFF;
    padding-top: 58px;
}
.contact-con p{
    font-family: Be Vietnam Pro;
    font-size: 26px;
    color: #FFF;
    padding-bottom: 62px;
}
.contact-menu ul{
    list-style: none;
    padding-left: 0px;
}
.contact-menu li a{
    text-decoration: none;
    font-family:Be Vietnam Pro ;
    font-size: 24px;
    line-height: 54px;
    color: #FFF;
}
.contact-icon a{
    padding-left: 60px;
    padding-top: 10px;
}
.contact-icon a:first-child{
    padding-left: 0px;
}
.form-btn{
    padding-top: 45px;
}
input{
    font-family:Be Vietnam Pro ;
    font-size: 20px;
    border-radius: 15px;
    padding: 18px 170px 18px 30px;
    color: #979797;
}
button.btn{
    font-family:Be Vietnam Pro ;
    font-size: 20px;
    border-radius: 15px;
    padding: 18px 38px 18px 38px;
    background-color: #AC7046;
    color: #F9F3EF;
}
.copyright-sec ul{
    font-family:Be Vietnam Pro ;
    font-size: 22px;
    list-style: none;
    padding-left: 0;
    display: flex;
    padding-top: 59px;
}
.copyright-sec ul a{
    text-decoration: none;
    color: #fff;
}
.copyright-sec ul li{
    padding-left: 50px;
}
.copyright-sec ul li:first-child{
    padding-left: 0px;
}


/* Media Screen */
/* media screen- 1440px */
@media screen and (max-width:1440px) {
    .navbar{
        margin-left: 50px;
        margin-right: 50px;
    }
    .home-condent h1{
        padding-left: 0px;
    }
    .home-condent p{
        padding-left: 0px;
    }
    .home-btn{
        padding-left: 0px;
    }
    .nav-link{
        margin-left: 30px;
    }
}

/* media screen-1340px */
@media screen and (max-width:1340px) {
    .home-condent h1{
        padding-top: 130px;
    }
    .logo-sec{
        padding-bottom: 100px;
    }
    .card-body h5{
        font-size: 16px;
    }
    .pro-s span{
        font-size: 15px;
    }
    .sec3-icon{
        padding-bottom: 10px;
    }
    .card-body p{
        padding-bottom: 0px;
    }
    .sec3-btn{
        padding-bottom: 100px;
    }
    .sec-content h2{
        font-size: 40px;
    }
    .sec-content p{
        font-size: 24px;
    }
    .common-card{
        padding-top: 30px;
        padding-bottom: 100px;
    }
    .card-body1 h3{
        font-size: 30px;
    }
    .card-body2 h3{
        font-size: 30px;
    }
    .card-link1 p{
        padding: 24px 170px 24px 170px;
    }
    .card-link2 p{
        padding: 24px 170px 24px 170px;
    }
    .sec5-heading h2{
        font-size: 35px;
    }
    .com-con{
        padding: 0px;
    }
    .sce5-border{
        padding-bottom: 50px;
    }
    .sec6-con h2{
        padding-top: 100px;
    }
    .sec6-con {
        padding-right: 50px;
    }
    .contact-con p{
        font-size: 24px;
        padding-bottom: 30px;
    }
    input{
        padding: 18px 100px 18px 30px;
    }
    .section-7{
        padding-top: 100px;
        padding-bottom: 50px;
    }
}

/* media-screen-1199px */
@media screen and (max-width:1199px) {
    .nav-link{
        margin-left: 0px;
    }
    .home-condent h1{
        font-size: 50px;
    }
    .sec2-content{
        width: 170px;
    }
    .sec2-logo{
        padding: 34px 30px 24px 30px;
    }
    .card-body h5 {
        font-size: 12px;
    }
    .sec3-icon h6 {
        padding: 0px 10px;
        line-height: 20px;
        font-size: 10px;
    }
    .pro-s span {
        font-size: 9px;
        line-height: 20px;
    }
    .card-body1 h3 {
        font-size: 25px;
    }
    .card-body2 h3 {
        font-size: 25px;
    }
    .card-body1 p{
        font-size: 14px;
    }
    .card-body2 p{
        font-size: 14px;
    }
    .card-body p {
        font-size: 14px;
    }
    .card-link1 p {
        padding: 24px 20px 24px 20px;
        font-size: 17px;
    }
    .card-link2 p {
        padding: 24px 20px 24px 20px;
        font-size: 17px;
    }
    .card-link1 i{
        line-height: 26px;
    } 
    .card-link2 i{
        line-height: 26px;
    }
    .sec-content h2 {
        font-size: 30px;
    }
    .sec-content p {
        font-size: 20px;
        margin-bottom: 0;
    }
    .sec5-con h3{
        font-size: 30px;
    }
    .sec5-con p{
        font-size: 22px;
    }
    .sec6-con h2{
        font-size: 35px;
    }
    .sec6-con p{
        font-size: 19px;
    }
    .contact-con p{
        font-size: 20px;
    }
    .contact-menu li a{
        font-size: 20px;
    }
    button.btn{
        font-size: 15px;
    }
    input{
        font-size: 15px;
        padding: 18px 60px 18px 30px;
    }
    .copyright-sec ul li{
        padding-left: 20px;
        font-size: 20px;
    }
}

/* media screen-1024 */
@media screen and (max-width:1024px) {
    .navbar {
        margin-left: 30px;
        margin-right: 30px;
    }
    .nav-link{
        font-size: 15px;
        padding: 0px 20px;
    }
    .nav-login{
        font-size: 15px;
        padding: 15px 20px;
        line-height: 15px;
    }
    .navbar-light .navbar-nav .nav-link{
        padding: 0px 20px;
    }
    .navbar-light .navbar-nav .nav-link:hover{
        padding: 0px 20px;
    }
    .nav-icon a{
        margin-left: 25px;
    }
}

/* media screen-991 */
@media screen and (max-width:991px) {
    .nav-icon{
        padding:15px 0px ;
    }
    .home-condent h1 {
        font-size: 40px;
    }
    .home-condent p {
        font-size: 20px;
    }
    .home-btn .button1{
        font-size: 15px;
    }
    .button1 .fa-arrow-right{
        font-size: 15px;
        width: 30px;
        height: 30px;
    }
    .home-btn .button2{
        font-size: 15px;
    }
    .button2 .fa-arrow-right{
        font-size: 15px;
        width: 30px;
        height: 30px;
    }
    .sec-content p {
        font-size: 18px;
    }
    .sec2-btn.button3{
        font-size: 18px;
        padding: 10px 50px 10px 30px;
    }
    .button3 .fa-arrow-right{
        width: 30px;
        height: 30px;
        top: 15px;
    }
    .section-2 {
        padding-top: 80px;
    }
    .logo-sec {
        padding-bottom: 80px;
        row-gap: 30px;
    }
    .card-body h5 {
        font-size: 15px;
    }
    .sec3-icon h6 {
        padding: 0px 30px;
    }
    .pro-s span {
        font-size: 15px;
    }
    .card-body p {
        font-size: 18px;
    }
    .sec-content h2 {
        font-size: 25px;
    }
    .sec-content p {
        font-size: 15px;
    }
    .common-card{
        padding-bottom: 50px;
    }
    .sec5-con h3 {
        font-size: 24px;
    }
    .sec5-con p {
        font-size: 16px;
    }
    .sec6-con h2 {
        padding-top: 50px;
    }
    .app-buttons {
    padding-bottom: 40px;
    }
    input {
        font-size: 15px;
        padding: 18px 30px 18px 20px;
    }
    button.btn{
        padding: 18px 16px 18px 16px
    }
    .copyright-sec ul li {
        padding-left: 20px;
        font-size: 16px;
    }
    .card-body1 h3 {
        font-size: 18px;
    }
    .card-body2 h3 {
        font-size: 18px;
    }
}
/* media-screen-640 */
@media screen and (max-width:640px) {
    .home-condent h1 {
        font-size: 35px;
        padding-top: 100px;
    }
    .home-condent p {
        font-size: 18px;
    }
    .sec-content p {
        font-size: 14px;
    }
    .button3 .fa-arrow-right {
        width: 20px;
        height: 20px;
    }
    .sec2-btn .button3 {
        font-size: 18px;
        padding: 8px 50px 8px 30px;
    }
    .sec2-content {
        width: 200px;
        margin: 0 auto;
    }
    .sec3-heading h2{
        font-size: 35px;
    }
    .sec3-heading p{
        font-size: 25px;
    }.sec-content h2 {
        font-size: 18px;
    }
    .sec5-heading h2 {
        font-size: 25px;
        padding-bottom: 45px;
    }
    .sec-content p{
        margin-bottom: 0px;
    }
    .sec5-con h3 {
        font-size: 17px;
    }
    .sec5-con p {
        font-size: 12px;
    }
    .form-btn {
        padding-top: 0px;
    }
    .sec3-btn .button3 {
        font-size: 20px;
        padding: 8px 50px 8px 30px;
    }
    button.btn {
        padding: 18px 30px 18px 30px;
    }
}
/* media-screen-480px */
@media screen and (max-width:480px) {
    .home-condent h1 {
        font-size: 30px;
        padding-top: 80px;
    }
    .home-condent p {
        font-size: 14px;
    }
    .home-btn .button1 {
        padding: 15px 60px 15px 20px;
    }
    .home-btn .button2 {
        padding: 15px 60px 15px 20px;
    }
    .logo-sec {
        padding-top: 50px;
    }
    .sec-content h2 {
        font-size: 22px;
    }
    .sec-content p {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .sec2-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sec3-heading p {
        font-size: 20px;
    }
    .sec3-heading h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .card-body h5 {
        font-size: 20px;
    }
    .sec3-icon h6 {
        font-size: 15px;
    }
    .pro-s span {
        font-size: 15px;
        justify-content: center;
        display: flex;
    }
    .sec5-con h3 {
        font-size: 24px;
    }
    .sec5-con p {
        font-size: 20px;
    }
    .com-con {
        margin-bottom: 30px;
    }
    .sec3-icon {
        padding-bottom: 20px;
    }
    .card-body p{
        padding-top: 20px;
    }
}

/* media-screen-425px */
@media screen and (max-width:425px) {
    .navbar {
        margin-left: 10px;
        margin-right: 10px;
    }
    .home-condent h1 {
        font-size: 25px;
    }
    .sec3-heading p {
        font-size: 18px;
    }
    .sec-content h2 {
        font-size: 20px;
    }
    .sec3-btn {
        padding-bottom: 50px;
    }
    .sec5-heading h2 {
        font-size: 20px;
    }
    .sec6-con h2 {
        font-size: 30px;
    }
    .sec6-con p {
        font-size: 16px;
    }
    .app-img{
        width: 150px;
    }
    .play-img{
        width: 150px;
    }
}

/* media-screen-320px */
@media screen and (max-width:320px) {
    .navbar {
        margin-left: 0px;
        margin-right: 0px;
    }
    .navbar-brand{
        width: 200px;
    }
    .home-condent h1 {
        font-size: 21px;
        padding-top: 50px;
    }
    .home-condent p {
        font-size: 11px;
    }
    .home-btn .button1 {
        font-size: 10px;
        padding: 12px 40px 12px 20px;
    }
    .button1 .fa-arrow-right {
        font-size: 10px;
        width: 20px;
        height: 20px;
        top: 10px;
    }
    .home-btn .button2 {
        font-size: 10px;
        padding: 12px 40px 12px 20px;
    }
    .button2 .fa-arrow-right {
        font-size: 10px;
        width: 20px;
        height: 20px;
        top: 10px;
    }
    .sec2-btn .button3 {
        font-size: 15px;
        line-height: 25px;
    }
    .button3 .fa-arrow-right {
        font-size: 15px;
        top: 10px;
    }
    .logo-sec {
        padding-bottom: 50px;
    }
    .sec3-heading h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .sec3-heading p {
        font-size: 14px;
    }
    .sec3-btn .button3 {
        font-size: 15px;
        padding: 8px 40px 8px 30px;
        line-height: 25px;
    }
    .card-body1 h3 {
        font-size: 15px;
    }
    .card-body1 p {
        font-size: 10px;
    }
    .card-link1 p {
        padding: 15px 20px 15px 20px;
        font-size: 15px;
    }
    .card-link1 i {
        font-size: 15px;
    }
    .card-body2 h3 {
        font-size: 15px;
    }
    .card-body2 p {
        font-size: 10px;
    }
    .card-link2 p {
        padding: 15px 20px 15px 20px;
        font-size: 15px;
    }
    .card-link2 i {
        font-size: 15px;
    }
    .sec5-heading p{
        font-size: 25px;
    }
    .sec5-heading h2 {
        font-size: 15px;
        padding-bottom: 30px;
    }
    .sec5-con h3 {
        font-size: 20px;
    }
    .sec5-con p {
        font-size: 15px;
    }
    .sec6-con h2 {
        font-size: 22px;
    }
    .sec6-con p {
        font-size: 12px;
    }
    .app-img {
        width: 110px;
    }
    .play-img{
        width: 110px;
        margin-left: 15px;
    }
    .contact-logo{
        width: 260px;
        height: 40px;
    }
    .contact-con h3{
        font-size: 22px;
        padding-top: 30px;
    }
    .contact-con p {
        font-size: 15px;
        padding-bottom: 10px;
    }
    .contact-menu li a {
        font-size: 15px;
        line-height: 40px;
    }
    .contact-icon a {
        padding-left: 50px;
        padding-top: 10px;
    }
    .copyright-sec ul li{
        font-size: 14px;
    }
    input {
        font-size: 12px;
        padding: 12px 10px 12px 10px;
    }
    button.btn {
        font-size: 12px;
        padding: 12px 30px 12px 30px;
    }
    .section-7 {
        padding-top: 50px;
        padding-bottom: 20px;
    }
}