*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home-section{
    background-image: url(images/bg-img.png);
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-bottom: 800px; */
}
.navbar{
    background-color: #a5b4bd;
}
.container-fluid{
    padding-left: 72px;
    padding-right: 72px;
}
.nav-btn li{
    list-style: none;
}
.nav-link{
    color: black ;
    font-family: Roboto, Medium;
    font-size: 24px;
}
@media (min-width: 992px){ 
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0px;
    }
}

.nav-link:hover{
    color: #fff !important;
    position: relative;
    border-bottom: 3px solid #fff;
}
.nav-link-btn1{
    text-decoration: none;
    font-family: Roboto, Medium;
     font-size: 24px;
    color: #fff;
    border: none;
    /* line-height: 10px; */
    padding: 10px 20px;
    background-color: #F09B21; 
    border-radius: 50px;
    margin-right: 30px;
}
.nav-link-btn1:hover{
    color: black;
}
.nav-link-btn2{
    text-decoration: none;
    font-family: Roboto, Medium;
    font-size: 24px;
    color: #fff;
    text-align: center;
    border: none;
    padding: 10px 20px;
    background-color: #FF0000; 
    border-radius: 50px;
}
.nav-link-btn2:hover{
    color: black;
}
.home-section h1{
    text-align: center;
    font-family: Roboto, Bold;
    font-size: 60px;
    padding-top: 233px;
    padding-bottom: 50px;
    color: #fff;
    font-size: 60px;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav-pills .nav-link {
    background: #fff ;
    color: black;
    border: 0;
    font-size: 32px;
    font-family: Roboto, Medium;
    border-radius: 4px;
    padding: 10px 150px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: black;
}
.common-tab{
    position: relative;
    padding: 80px 50px 120px 50px;
    border: 3px solid #fff;
    border-radius: 30px;
}
.common-div{
    position: relative;
}
.tab-unlist{
    position: absolute;
    top: -24px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.card-title {
    margin-bottom: 0.5rem;
    text-align: center;
}
/* common-btn */
.com-btn{
    position: relative;
    top: -85px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; 
}
.tabs-btt{
    padding: 0px 50px;
  }
.example1{
    display:flex;
    background-color: #fff;
    border-radius: 16px;
}
.loc-in {
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    background-color: transparent;
    
  } 
.fa-search{
    padding: 8px;
    line-height: 33px;
    font-size: 27px;
    color: #fff;
    font-size: 17px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    align-items: center;
    border-left: none;
    cursor: pointer;
  }
  .example4{
    display:flex;
    background-color: red;
    border-radius: 16px;
}
.sear-in {
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;
  } 
  .sear-in::placeholder{
    color: #fff;
  }
.fa-location-dot{
    padding: 8px;
    line-height: 33px;
    font-size: 27px;
    color: black;
    font-size: 17px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    align-items: center;
    border-left: none;
    cursor: pointer;
  }
.com-sel{
    padding:13px 110px 13px 10px;
    background-color: #fff;
    border-radius: 16px;
    border: none;
    outline: none;
} 


/* common media screen */
