*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}
.container{
  width: 1250px;
  margin: auto;
}
.navbar{
    position: relative;
}
nav{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
}
.home-content h2{
    color: white;
    font-size: 40px;
}
.home-content p{
    color: white;
    font-size: 15px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding:5px 15px;
    color: white;
    align-items: center;
}
nav h1{
    color: white;
    padding: 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    position: relative;
}
nav ul li a:hover::before{
    border:1px solid white;
    content: "";
    position: absolute;
    margin: auto;
    top: 90%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    z-index: 1;
}
.active-home::before{
  border:1px solid white;
  content: "";
  position: absolute;
  margin: auto;
  top: 90%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  z-index: 1;
}
.home-section{
    height: 600px;
    width: 100%;
    background-image: url(image/tm.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}  
.home-section::before{
    content:" ";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.7;
    background-color:dodgerblue;
}
 .home-content{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.home-btn{
    margin-top: 20px;
    align-items: center;
}
.button1{
    border: 1px solid white;
    color: blue;
    text-align: center;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 3px;
  }
  .button2{
    border: 1px solid white;
    color:white;
    text-align: center;
    cursor: pointer;
    padding: 10px 10px;
    background-color: transparent;
    border-radius: 3px;
  }
  /* about */
  .ab-navbar ul li{
    display: inline-block;
    list-style: none;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .logo{
    width: 90px;
    padding-left: 70px;
    padding-right: 80px;
    cursor: pointer;
  }
  .picture{
    width: 60%;
    position: relative;
    padding-top: 50px;
    padding-left: 50px;
  }
  .img1{
    position: absolute;
   width: 260px;
   height: auto;
   top:120px;
   left: 297px;
   border: 10px solid white;
  }
  .img2{
    position: absolute;
    width: 260px;
    left: 140px;
    height: auto;
    border: 10px solid white;
   }
   .img3{
    position: absolute;
    width: 350px;
    top: 200px;
    height: 300px;
    border: 10px solid white;
    z-index: -1;
   }
   .content1{
    width: 40%;
   padding-top: 150px;
   padding-right: 150px;
   }
   .content1 h1{
    margin-bottom: 30px;
    position: relative;
   }
   .content1 h1::after{
    content: " ";
    position: absolute;
    top: -5px;
    bottom: 0px;
    left: 0px;
    right:0px;
    width: 18%;
    height: 100%;
    border-bottom: 1px solid black;
    transform: scaleY(2);
   }
   .content1 p{
    padding-top: 10px;
    text-align: left;
    line-height: 20px;
    font-family: serif;
   }
   .but{
     padding: 10px 30px;
     text-align: center;
     cursor: pointer;
     border-radius: 3px;
     background-color: #539ae8;
     margin-top: 40px;
     color: white;
     border: none;
  }
   .ab-content{
    width: 100%;
    display:flex;
    padding-bottom: 250px;
  }
  /* service */
  .service-content{
    width: 60%;
    padding-right: 30px;
    padding-top: 300px;
    padding-left: 50px;
  }
  .service-content h1{
    padding-bottom: 30px;
    position: relative;
  }
  .button{
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(0, 110, 255);
    margin-top: 40px;
    color: white;
    border: none;
   }
  .service-content h1::before{
     content: " ";
     position: absolute;
     top:  45px;
     left: 0;
     width: 80px;
     border-bottom: 2px solid black;
  }
  .comblock1{
    width: 40%;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 80px;
  }
  .comblock2{
    width: 40%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .block1{ 
    text-align: center;
      border:white ;
      box-sizing: border-box;
      box-shadow:   0 4px 4px 0 rgba(0, 0, 0, 0.2);
      padding: 15px;
      margin-top: 30px;  
   }
   .block1 h3{
    padding-top: 10px;
    padding-bottom: 20px;
    /* font-family: Arial; */
   }
   .block2 h3{
    padding-top: 10px;
    padding-bottom: 20px;
    /* font-family: Arial; */
   }
   .block2{ 
      text-align: center;
      border:white ;
      box-sizing: border-box;
      box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.2);
      padding: 15px;
      margin-top: 30px;
   }
   .ser-icon i{
      font-size: 55px;
      padding:20px;
      color: dodgerblue;
      border: 1px solid white;
      border-radius: 60px;
     
   }
   .service-section{
    position: relative;
    display: flex; 
    width: 100%;
    padding-bottom: 50px;
   }
   .button-2{
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 3px;
    background-color: whitesmoke;
    margin-top: 40px;
    color: black;
    border: none;
   }
   /* our work */
   .our-work h1{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    position: relative;
    bottom: 30px;
   }
   .our-work h1::after{
    content: " ";
    position: absolute;
    margin: auto;
    bottom: 3px;
    left: 0;
    right: 0;
    width: 5%;
    height:1px;
    border-bottom: solid black;
   }
   .nav-work ul {
    display: flex;
    list-style-type: none;
    width: 55%;
    margin: auto;
    padding:0px;
    overflow: hidden;
    background-color: white;
    box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .nav-work li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
  }
  .active {
    background-color: blue;
    color: white !important;
  }
  .pic{
    width: 350px;
    height: 350px;
    padding: 20px;
  }
  .pic-comblock{
    padding: 20px;
  }
  .picturs{
    margin: auto;
    display: flex;
    justify-content: center;
  }
   .v-button{
    width: fit-content;
    margin: auto;
    display: flex;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(0, 110, 255);
    color: white;
    border: none;
   }
   .our-section{
  padding-bottom: 30px;
   }
   /* quote-section */
  .quote-main{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .quote-con{
    text-align: center;
    width: 50%;
    padding: 25px;
    font-style: italic;
    line-height: 20px;
  }
  .qu-img{
    width: 200px;
    display: block;
    margin: auto;
    padding: 30px;
  }
  .quote-con h2{
    padding-top: 10px;
    font-family: sans-serif;
  }
  .quote-con span{
    font-weight: bold;
    padding: 5px;
  }
  .quote-img1{
    width: 15%;
    margin: auto;
    padding-top: 20%;
    padding-left: 30px;
  }
  .quote-img2{
    width: 15%;
    margin: auto;
   padding-left: 30px;
  }
  .q-img{
    width: 30%;
    border-radius: 80%; 
    padding: 15px 10px;
  }
  .q-img1{
    width: 40%;
    border: 3px solid dodgerblue;
    border-radius: 60%; 
  }
  .q-img3{
    width: 30%;
    border-radius: 80%;
  }
  /* Blog-section */
  .blog-section h1{
    text-align: center;
    position: relative;
    padding: 30px;
  }
  .blog-section h1::after{
    content: " ";
    position: absolute;
    margin: auto;
    bottom: 2px;
    left: 0;
    right: 0;
    width: 8%;
    border-bottom: 3px solid black;
   }
   .blog-img{
    width: 350px;
    height: auto;
   }
   .blog-content{
    width: 30%;
    margin: auto;
    padding: 10px;
    line-height: 25px;
   }
   .blog-content span{
    color: dodgerblue;
   } 
   .blog-section{
    margin: auto;
    padding: 30px;
    position: relative;
   }
   .blog-com{
    width: 100%;
    display: flex;
    margin: auto;
    padding-top: 25px;
    position: relative;
   }
   .fa-chevron-circle-left{
    position: absolute;
    top: 50%;
    left: 1%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-40%, -40%);
    color:dodgerblue;
    font-size: 40px;
    cursor: pointer;
   }
   .fa-chevron-circle-right{
    position: absolute;
    top: 50%;
    right:-1%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-40%, -40%);
    color:dodgerblue;
    font-size: 40px;
    cursor: pointer;
   }
   /* subcribar */
   .sub-section{
    color: white;
    background-image: url(image/bban.png);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
   }
   .sub-content{
    text-align: center;
    padding: 70px;
   }
   .sub-btn{
    justify-content: center;
    margin: auto;
    display: flex;
    padding: 20px;
  }
   .sub-btn input {
    text-align: center;
    padding: 10px;
    font-size: 17px;
    border: none;
    outline:none;
    float: left;
    width: 30%;
    background: #f1f1f1;
    border-radius:50px 0px 0px 50px;
  }
.sub-btn input:active{
    border: none;
    outline:none;
}
  .sub-btn button {
    text-align: center;
    float: left;
    width: 15%;
    padding: 10px;
    background-color: orangered;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius:0px 50px 50px 0px;
  }
  /* contact */
  .contact{
    width: 100%;
    display: flex;
    margin: auto;
  }
  .contact-com{
      width: 20%;
      list-style: none;
      padding: 20px;
      line-height: 40px;
  }
  .contact-com1{
    width: 40%;
    list-style: none;
    padding: 26px;
    line-height: 25px;
  }
  .contact-com h3{
    padding-bottom: 25px;
  }
  .contact-com1 h3{
    padding-bottom: 35px;
  }
  .contact{
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .contact-mediea{
    padding-top: 5%;
  }
  .contact-mediea i{
    padding: 10px;
    display: inline-block;
    font-size: 20px;
    color: dodgerblue;
  }
  /* footer */
  .footer{
    text-align: center;
    padding: 10px;
  }
  .footer span{
    color: dodgerblue;
  }
  