body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #1E1E1E;
    background-image: url(images/body-bg.png);
    background-repeat:repeat;
    background-position: left top;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.navbar{
    border-bottom: 0.75px solid #D9D9D9;
    margin: 0px 59px 0px 60px;
    padding: 24px 0px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.navbar-brand{
    margin-right: 0px;
}
.nav-link.first-link{
    margin-left: 0px;
}
.nav-link{
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 147%;
    color: #FFFFFF;
    margin-left: 80px;
    padding: 0px;
}
.nav-contact{
    font-family: 'Syne';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color:  #D9D9D9;
    line-height: 22px;
    text-decoration: none;
    padding: 12px 28px 12px 28px;
    background: rgba(78, 31, 163, 0.3);
    border: 1px solid #4E1FA3;
    border-radius: 8px;
}
.nav-contact:hover{
    background: rgb(25 195 168);
}
.home-content{
    position: relative;
}
.star-1{
    position: absolute;
    width: 65px;
    height: 65px;
    left: -83px; 
    top: 44px;
}
.home-content h1{
    position: relative;
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 116%;
    color: #FFFFFF;
    padding-top: 109px;
    padding-bottom: 22px;
}
.home-content h1::after{
    content: " ";
    position: absolute;
    width: 402px;
    height: 0px;
    left: 0px;
    top: 250px;
    opacity: 0.5;
    border: 0.75px solid #D9D9D9;
}
.home-span{
    background: linear-gradient(89.98deg, #F5D255 -3.37%, #36E7C4 99.98%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.home-content p{
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 132%;
    letter-spacing: 0.02em;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    padding-top: 22px;
    padding-bottom: 54px;
    margin-bottom: 0px;
}
.home-link a{
    position: relative;
    display: block;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: #D9D9D9;
    padding-bottom: 16px;
}
.home-link{
    position: relative;
}
.star-4{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 450px;
    top: 10px;
}
.home-link a::after{
    position: absolute;
    content: " ";
    width: 170px;
    height: 1px;
    left: 0%;
    bottom: 0px;
    border-bottom: 1px solid #D9D9D9;
}
.rightarrow{
    padding-left: 15px;
}
.home-img{
    position: relative;
    padding-top: 76px;
}   
.elips{
    position: absolute;
    width: 221.85px;
    height: 217.98px;
    left: 260px;
    top: 240px;
    background: #4E1FA3;
    opacity: 0.7;
    filter: blur(143px);
    transform: rotate(177.74deg);
    z-index: -1;
}
.star-3{
    position: absolute;
    width: 59px;
    height: 59px;
    left: 410px;
    top: 110px;
}
.common-con{
    padding-bottom: 400px;
}
.home-section{
    position: relative;
    padding-bottom: 300px;
}
.home-section::before {
    position: absolute;
    content: "";
    background-image: url(images/banner-bt-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 400px;
    bottom: 0;
}
/* section-2 */
.section-2{
    position: relative;
}
.section-2::before {
    position: absolute;
    content: "";
    background-image: url(images/sec2-arc.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.section-2 h2{
    position: relative;
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 117%;
    text-align: center;
    color: #FFFFFF;
}
.sec2-con{
    position: relative;
}
.span-line{
    position: relative;
    text-align: center;
    padding: 100px 0px;
}
.dot-linetob{
    position:absolute;
    width: 7px;
    height: 7px;
    top: 70px;
    background: #D9D9D9;
}
.dot-linetob::before {
    position: absolute;
    content: " ";
    width: 75px;
    height: 0px;
    left: -34px;
    top: 43px;
    border: 1px solid #D9D9D9;
    transform: rotate(90deg);
}

/* Bx-finance section */
.bx-finance-section{
    position: relative;
    /* padding-top: 136px; */
}
.bx-content{
    position: relative;
}
.heading-row{
    padding-top: 100px;
}
.bx-content h2{
    position: relative;
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 117%;
    color: #FFFFFF;
    padding-bottom: 44px;
}
.text-grdi{
    position: absolute;
    left: -55px;
    bottom: 20px;
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 120%;
    letter-spacing: -0.005em;
    background: linear-gradient( 200.16deg, #ffffff -29.31%, rgba(255, 255, 255, 0) 82.32% );
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent; 
    z-index: -1;  
}
 h6{
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.01em;
    background: linear-gradient(89.98deg, #F5D255 -3.37%, #36E7C4 99.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 0px;
}
.heading-star{
    padding-right: 12px;
}
 p{   
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 156%;
    text-align: justify;
    color: #D9D9D9;
    padding-bottom: 25px;
    margin-bottom: 0px;
}
.bx-finance-images{
    position: relative;
}
.bx-star1{
    position: absolute;
}
.bx-star2{
    position: absolute;
    bottom: 50px;
    left: 25px;
}
/* section4 */
.section4{
    position: relative;
}
.sec4-content{
    position: relative;
}
.section4 h2{
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 117%;
    text-align: center;
    color: #FFFFFF;
    padding: 80px 0px;
}
.sec4-star1{
    position: absolute;
    top: 120px;
    left: 60px;
}
.sec4-star2{
    position: absolute;
    top: 40px;
    right: 100px;
}
.crypto-con img{
    display: flex;
    margin: 0 auto;
}
.crypto-con h4{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 147%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 25px;
    padding-bottom: 16px;
}
.crypto-con p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 156%;
    text-align: center;
    color: #D9D9D9;
}
.crypto-con {
    position: relative;
}
.crypto-dot1 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 70px;
    top: 50px;
    border: 2px solid #B1B5C4;
    border-radius: 50%;
}
.dot-line{
    position: absolute;
    height: 0px;
    width: 156px;
    right: -90px;
    top: 55px;
    border: 1px dashed #d2d6e4;
}
.crypto-dot {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 70px;
    top: 50px;
    border: 2px solid #B1B5C4;
    border-radius: 50%;
}

/* section-5 */
.section-5{
    position: relative;
}
.section-5 h2{
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 117%;
    color: #FFFFFF;
    padding-top: 30px;
}
.text-grdi1{
    position: absolute;
    left: -50px;
    bottom: -20px;
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 120%;
    letter-spacing: -0.005em;
    background: linear-gradient( 200.16deg, #ffffff -29.31%, rgba(255, 255, 255, 0) 82.32% );
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent; 
    z-index: -1;  
}
.com-heading{
    position: relative;
    padding-top: 50px;
}
.sec5-heading{
    position: relative;
    padding-top: 71px;
    padding-bottom: 80px; 
}
.head-gradient{
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.005em;
    background: linear-gradient( 200.16deg, #ffffff -29.31%, rgba(255, 255, 255, 0) 82.32% );
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
}
.sec5-star1{
    position: absolute;
}
.sec5-star2{
    position: absolute;
    top: 0;
    right: 0;
}
.sec5-card {
    padding: 22px;
    background: rgba(48, 48, 48, 0.1);
    border: 1px solid #4E1FA3;
    border-radius: 8px;
}
.sec5-card:hover{
    box-shadow: 0px 24px 32px rgba(78, 31, 163, 0.06), 0px 16px 24px rgba(78, 31, 163, 0.06), 0px 4px 8px rgba(78, 31, 163, 0.06), 0px 0px 1px rgba(78, 31, 163, 0.06);
}
.card-imgdiv{
    display: flex;
    justify-content: space-between;
}
.sec5-card h6{
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.01em;
    background: linear-gradient(89.98deg, #F5D255 -3.37%, #36E7C4 99.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 25px;
    margin-bottom: 0px;
}
.cardimage{
    width: 88px;
    height: 88px;
}
.card-div{
    row-gap: 25px;
}

/* section-6 */
.sec6-heading{
    position: relative;
}
.sec6-star1 {
    position: absolute;
    top: 40px;
    right: 10px;
}
.sec6-star2{
    position: absolute;
}
.accordion-button{
font-family: 'Michroma';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 135%;
letter-spacing: 0.01em;
background: linear-gradient(89.98deg, #F5D255 -3.37%, #36E7C4 99.98%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
border: 1px solid #4E1FA3;
border-radius: 8px 8px 0px 0px;
border-bottom: 0;
}
.accordion-button.collapsed{
    border: 0;
}
.accordion-button:focus{
    border-color: #4E1FA3;
}
.accordion-header{
background: rgba(48, 48, 48, 0.1);
/* border: 1px solid #4E1FA3; */
border-bottom: none;
border-radius: 8px 8px 0px 0px;
}
.accordion-item {
    background: rgba(48, 48, 48, 0.1);
    border: 1px solid #191A1E;
    border-radius: 8px;
    margin-bottom: 20px;
}
.accordion-body{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 156%;
    text-align: justify;
    color: #D9D9D9;
    background: rgba(48, 48, 48, 0.1);
    border: 1px solid #4E1FA3;
    border-top: none;
    box-shadow: 0px 24px 32px rgba(78, 31, 163, 0.06), 0px 16px 24px rgba(78, 31, 163, 0.06), 0px 4px 8px rgba(78, 31, 163, 0.06), 0px 0px 1px rgba(78, 31, 163, 0.06);
    border-radius: 0px 0px 8px 8px;
}
.accordion-button:not(.collapsed)::after {
    transform: rotate(0deg);
    background-image: url(images/card-arrow.png);
}
.accordion-button::after {
    transform: rotate(0deg);
    background-image: url(images/card-arrow.png);
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
.accordion-button:focus {
    z-index: 3;
    /* border-color: #86b7fe; */
    outline: 0;
    box-shadow: none;
}

/* section-7 */
.section-7 {
    position: relative;
    padding-bottom: 80px;
}
.sec7-heading h2{
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    line-height: 117%;
    background: linear-gradient(89.98deg, #F5D255 -3.37%, #36E7C4 99.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 90px;
    padding-bottom: 60px;
}
.sec7-heading{
    position: relative;
}
.sec7-star1{
    position: absolute;
    top: 40px;
    right: 80px;
}
.sec7-star2{
    position: absolute;
    bottom: 20px;
    left: 100px;
}
.head-gradient2{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 120%;
    letter-spacing: -0.005em;
    background: linear-gradient( 200.16deg, #ffffff -29.31%, rgba(255, 255, 255, 0) 82.32% );
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
    z-index: -1;
}
.bx-logo1{
    padding-left: 30px;
    padding-top: 50px;
}
.bx-logo2{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
}
.section-7 p{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 156%;
    text-align: justify;
    padding-top: 50px;
    color: #D9D9D9;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

/* section-8 */
 h2{
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 117%;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.sec8-card{
    padding-top: 80px;
}
.card-body{
    padding: 25px 45px;
    border-left: 1px solid rgba(217, 217, 217, 0.1);
}
.owl-carousel .owl-item img {
    display: block;
    width: auto;
}

/* section-9 */
.section-9{
    padding-bottom: 20px;
}
.sec9-headig{
    padding-top: 30px;
}
.sec9-card .row{
    --bs-gutter-x: 12px;
    --bs-gutter-y: 12px;
}
.card-body1{
    background: rgba(48, 48, 48, 0.1);
    border: 1px solid #191A1E;
    border-radius: 8px;
    padding: 22px;
}
.card-body1 p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 156%;
    text-align: justify;
    color: #D9D9D9;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.card-body2 h6{
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    background: linear-gradient(89.98deg, #F5D255 -3.37%, #36E7C4 99.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 35px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.card-body2 {
    background: rgba(48, 48, 48, 0.1);
    border: 1px solid #191A1E;
    border-radius: 8px;
    padding: 22px;
}

/* section-11 */
.sec11-heading{
    position: relative;
}
.sec11-heading h2 {
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    line-height: 117%;
    padding-top: 90px;
    padding-bottom: 60px;
}
.product-con{
    padding-top: 60px;
}
.product-card{
    position: relative;
}
.product-dot1 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 70px;
    top: 17px;
    border: 2px solid #B1B5C4;
    border-radius: 50%;
}
.product-dot1::before{
    position: absolute;
    content: " ";
    height:0px;
    width: 113px;
    right: 11px;
    top: 3px;
    border: 1px dashed #d2d6e4;
}
.product-dot {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 130px;
    top: 17px;
    border: 2px solid #B1B5C4;
    border-radius: 50%;
}
.product-dot::after{
    position: absolute;
    content: " ";
    height:0px;
    width: 113px;
    left: 11px;
    top: 3px;
    border: 1px dashed #d2d6e4;
}
.pro-imglist{
    display: flex;
}
.number-gradi{
    /* position: absolute;
    left: 30px; */
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 170%;
    letter-spacing: -0.005em;
    background: linear-gradient( 200.16deg, #ffffff -29.31%, rgba(255, 255, 255, 0) 82.32% );
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
}
    .pro-list{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 156%;
    color: #D9D9D9;
}
.pro-list ul li{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 156%;
    color: #D9D9D9; 
}
/* section-12 */
.head-gradient3 {
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 120%;
    letter-spacing: -0.005em;
    background: linear-gradient( 200.16deg, #ffffff -29.31%, rgba(255, 255, 255, 0) 82.32% );
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
    z-index: -1;
}
.sec12-star1 {
    position: absolute;
    top: -100px;
    left: 160px;
}
.sec12-star2 {
    position: absolute;
    top: 40px;
    right: 60px;
}
.sec12-con p{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 156%;
    text-align: justify;
    color: #D9D9D9;
    padding-right: 60px;
    padding-bottom: 60px;
    margin-bottom: 0px;
}
.sec12-con{
    padding-top: 80px;
}
.meet-com1{
    padding-top: 100px;
}
.meet-com3{
    padding-top: 60px;
}
.imghover{
    position: relative;
    margin-top: 12px;
}
 .overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: black;
  cursor: pointer;
  border-radius: 8px;
}
.content{
  position: absolute;
  bottom: -18%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 0px 10px;
}
.content h5{
  font-family: 'Michroma';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.hover-icon ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0px;
    padding-top: 5px;
}
.hover-icon{
    border-top: 0.5px solid #FFFFFF;
}
.hover-icon ul li{
    padding: 0px 12px;
}
.hover-main:hover .overlay{
  opacity: 0.8;
}
.members .row {
    --bs-gutter-x: 12px;
    --bs-gutter-y: 12px;
}
/* section-13 */
.blog-carousel{
    padding-top: 40px;
}
.blog-body h5{
font-family: 'Michroma';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 132%;
letter-spacing: 0.02em;
font-feature-settings: 'liga' off;
color: #FFFFFF;
overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1; 
padding-top: 26px;
margin-bottom: 15px;
}
.sec13-star1{
position: absolute;
top: -50px;
left: 0;
}
.sec13-star2{
top: 0px;
right: -120px;
position: absolute;
}
.owl-carousel .owl-item .blog-image{
    display: inline-flex;
    width: 100%;
}
.owl-carousel .owl-item img {
    display: inline-flex;
    width: auto;
}

/* section-14 */
.sec14-star1{
    position: absolute;
    top: 80px;
    left: 60px;
}.sec14-star2{
    position: absolute;
    top: 10px;
    right: 80px;
}
.media2{
    padding:110px 30px 0px 30px ;
}
.media3{
    padding-top: 52px;
}
.media-con h5{
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 132%;
    letter-spacing: 0.02em;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 15px;
}
/* section-15 */
.form{
    padding-top: 40px;
}
.form h3{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 55px;
    color: #D9D9D9;
}
.form-control{
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #D9D9D9;;
}
.form-control:focus{
    color: #D9D9D9;
    background-color: transparent;
    box-shadow: none;
}
.form-control::placeholder{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 34px;
    /* #D9D9D9 */
    color: #D9D9D9;
}
.form-inputs .row {
    --bs-gutter-x: 4rem;
    --bs-gutter-y: 3rem;
}
.form-btns{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.form-btns button{
    font-family: 'Syne';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #D9D9D9;
    background: rgba(78, 31, 163, 0.3);
    border: 1px solid #4E1FA3;
    border-radius: 8px;
    padding: 11px 30px 12px 29px;
}
/* section-16 */
.section-16{
    padding-top: 70px;
    padding-bottom: 70px    ;
    background: rgba(255, 255, 255, 0.06);
}
.footer-con img{
    padding-bottom: 28px;
}
.footer-list{
    list-style: none;
    padding-left: 0px;
}
.footer-list li a{
    text-decoration: none;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 190%;
    color: #D9D9D9;
}
.footer-link a {
    position: relative;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: #D9D9D9;
    padding-bottom: 12px;
}
.footer-link a::after {
    position: absolute;
    content: " ";
    height: 0px;
    left: 0%;
    right: 0%;
    bottom: 0px;
    border-bottom: 1px solid #D9D9D9;
}
.rightarrow {
    padding-left: 15px;
}
.footer-social ul{
    display: flex;
    list-style: none;
    padding-left: 0px;
    padding-top: 25px;
}
.footer-social ul li i{
     color: #D9D9D9;
     font-size: 26px;
     padding-right: 55px;
}
/* section-17 */
.section-17{
    border-bottom: 1px solid #D9D9D9;
}
.copyright{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}
.rights p{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #D9D9D9;
    padding-top: 10px;
}
.backto-top a{
    text-decoration: none;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #D9D9D9;
}
.backto-top img{
    padding-left: 20px;
    padding-bottom: 10px;
}
.hover-main img{
   width: 100%;
}
/* banner-section-Media Screen */
/* media screen-1600px */
@media screen and (max-width:1600px) {
    .star-1{
        left: -50px;
    }
    .home-section::before{
        height: 350px;
    }
    .card-body2 h6{
       font-size: 17px;
    }
}

/* media screen-1440px */
@media screen and (max-width:1440px) {
    .navbar {
        margin: 0px 30px 0px 30px;
    }
    .nav-link{
        margin-left: 60px;
    }
}

/* media screen-1340px */
@media screen and (max-width:1340px) {
    .nav-link{
        margin-left: 40px;
    }
    .home-content h1{
        font-size: 45px;
    }
    .home-content p{
        font-size: 22px;
    }
    .home-content h1::after{
        width: 380px;
    }
    .home-section::before{
        height: 280px;
    }
    .home-section{
        padding-bottom: 250px;
    }
    /* section-2 */
    .section-2 h2{
        font-size: 30px;
    }
    /* section-3 */
    .text-grdi{
        font-size: 110px;
    }
    /* section-4 */
    .section4 h2{
        padding: 70px 0px;
    }
    .text-grdi1{
        font-size: 110px;
    }
    .head-gradient2{
        font-size: 110px;
    }
    .bx-logo2{
        padding-top: 50px;
    }
    .section-7 p{
        padding-top: 30px;
    }
    .head-gradient3{
        font-size: 110px ;
        top: 10px;
    }
    .form h3{
        font-size: 40px;
    }
    .form-control::placeholder{
        font-size: 24px;
    }
}

/* media screen-1199px */
@media screen and (max-width:1199px) {
    .nav-contact{
        padding: 12px 20px 12px 20px;
    }
    .home-content h1 {
        font-size: 40px;
        margin-bottom: 0px;
    }
    .home-content h1::after{
        top: 230px;
    }
    .star-1{
        top: 30px;
        left: -20px;
    }
    .star-3{
       display: none;
    }
    .star-4{
        left: 350px;
    }
    .home-section::before {
        height: 220px;
    }
    .home-section {
        padding-bottom: 200px;
    }
    .elips{
        top: 160px;
        left: 100px;
    }
    /* section-2 */
    .section-2 h2 {
        font-size: 25px;
    }
    p{
        font-size: 13px;
        padding-bottom: 20px;
    }
    .text-grdi {
        font-size: 100px;
        left: -44px;
    }
    .bx-star1{
        right: -25px;
    }
    /* section-4 */
    .section4 h2{
        font-size: 32px;
    }
    .span-line{
        padding: 90px 0px;
    }
    .text-grdi1 {
        font-size: 98px;
        left: -30px;
    }
    /* section-5 */
    .sec5-card h6{
        font-size: 16px;
    }
    .sec7-star1 {
        position: absolute;
        bottom: 20px;
        right: 50px;
    }
    .accordion-button{
        font-size: 16px;
        padding: 14px 18px;
    }
    .accordion-body {
        padding: 14px 18px;
    }
    .sec7-star2 {
        position: absolute;
        bottom: 20px;
        left: 70px;
    }
    .section-7 p {
        padding-top: 20px;
    }
    .sec7-heading h2{
        font-size: 30px;
    }
    h2{
        font-size: 30px;
    }
    h6{
        padding-bottom: 20px;
        font-size: 14px;
    }
    .bx-logo1 {
        padding-left: 0px;
        padding-top: 40px;
    }
    .bx-logo2{
        padding-left: 0px;
        padding-right: 0px;
    }
    .card-body {
        padding: 18px 40px;
    }
    .card-body2 h6 {
        font-size: 15px;
    }
    .sec8-card {
        padding-top: 60px;
    }
    .head-gradient{
        font-size: 50px;
    }
    .sec5-heading {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .sec11-heading h2{
        font-size: 32px;
    }
    .head-gradient2 {
        font-size: 100px;
    }
    .number-gradi{
        font-size: 90px;
    }
    .pro-list ul li{
        font-size: 13px;
    }
    .head-gradient3 {
        font-size: 100px;
    }
    .sec12-con p{
        font-size: 15px;
        padding-right: 40px;
    }
    .blog-body h5{
        font-size: 20px;
    }
    .media3 {
        padding-top: 20px;
    }
    .media2 {
        padding: 80px 15px 0px 15px;
    }
    .footer-social ul li i{
        padding-right: 40px;
    }
    .footer-link a{
        font-size: 15px;
    }

}

/* media screen-1024px */
@media screen and (max-width:1024px) {
    .home-content h1{
        font-size: 35px;
        padding-bottom: 20px;
    }
    .home-content h1::after {
        top: 220px;
    }
    .home-content p {
        font-size: 18px;
        padding-bottom: 40px;
    }
    .home-section::before {
        height: 200px;
    }
    .home-section {
        padding-bottom: 170px;
    }
}

/* media screen-991px */
@media screen and (max-width:991px) {
    .home-content h1 {
        font-size: 28px;
        padding-bottom: 20px;
        padding-top: 90px;
    }
    .home-content h1::after {
        top: 185px;
        width: 150px;
    }
    .home-content p{
        font-size: 16px;
        padding-top: 15px;
    }
    .star-1 {
        display: none;
    }
    .home-content h1::after {
    top: 185px;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        margin: 10px 0px;
    }
    .nav-botton{
        margin-top: 15px;
    }
    .home-section::before {
        height: 180px;
    }
    .section-2 h2 {
        font-size: 22px;
    }
    .heading-row {
        padding-top: 60px;
    }
    .heading-row {
    padding-top: 60px;
    }
    .bx-content h2{
        font-size: 30px;
    }
    .text-grdi {
        font-size: 90px;
        left: -37px;
        bottom: 24px;
    }
    .home-link a{
        font-size: 14px;
        padding-bottom: 8px;
    }
    .home-link a::after{
        width: 145px;
    }
    .section4 h2 {
        font-size: 28px;
    }
    .sec4-star2 {
        position: absolute;
        top: 20px;
        right: 50px;
    }
    .sec4-star1 {
        position: absolute;
        bottom: 15px;
        left: 30px;
    }
    .crypto-dot{
        right: 40px;
    }
    .crypto-dot1{
        left: 40px;
    }
    .dot-line{
        width: 100px;
        right: -62px;
    }
    .crypto-con h4{
        font-size: 14px;
        padding-top: 18px;
        padding-bottom: 10px;
    }
    .crypto-con p{
        font-size: 12px;
    }
    .com-heading p{
        font-size: 16px;
        padding-top: 20px;
    }
    .sec5-heading {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .span-line {
        padding: 70px 0px;
    }
    .dot-linetob{
        top: 48px;
    }
    .sec7-heading h2 {
        font-size: 25px;
    }
    .head-gradient2 {
        font-size: 85px;
        top: 44%;
    }
    .sec7-star1 {
        top: 20px;
        right: 20px;
    }
    .sec7-star2 {
        bottom: 10px;
        left: 20px;
    }
    .sec7-images{
        text-align: center;
    }
    .bx-logo1{
        padding-top: 0px;
    }
    .bx-logo2{
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* media screen-768px */
@media screen and (max-width:768px) {
    .home-content{
        padding: 0px 50px;
    }
    .home-img{
        padding: 76px 50px 30px 50px;
    }
    .home-content h1{
        padding-top: 60px;
    }
    .home-content h1::after {
        top: 150px;
        width: 190px;
    }
    .elips {
        top: 160px;
        left: 250px;
    }
}

/* media screen-640px */
@media screen and (max-width:640px) {
    .home-content h1{
        font-size: 25px;
    }
    .home-content img{
        width: 30px;
        height: 30px;
    }
    .home-content h1::after {
        top: 140px;
    }
    .star-4 {
        left: 250px;
    }
}

/* media screen-480px */
@media screen and (max-width:480px) {
    .navbar {
        margin: 0px 10px 0px 10px;
        padding: 15px 0px;
    }
    .home-content{
        padding: 0px 40px;
    }
    .home-img{
        padding: 50px 40px;
    }
    .home-section {
        padding-bottom: 120px;
    }
    .home-section::before {
        height: 120px;
    }
    .home-content h1 {
        font-size: 18px;
    }
    .home-content h1::after {
        top: 125px;
    }
    .home-content p {
        font-size: 12px;
    }
    .elips {
        top: 130px;
        left: 130px;
    }
}
 
/* media screen-380px */
@media screen and (max-width:380px) {
    .home-link a{
        font-size: 10px;
        padding-bottom: 10px;
    }
    .star-4 {
        left: 180px;
        top: 0px;
    }
    .elips {
        top: 98px;
        left: 100px;
    }
}