*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home-section{
    background-image: url(images/bg-img.png);
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   padding-bottom: 100px;
}
/* .navbar{
    background-color: #F09B21;
} */
.container-fluid{
    margin-top: 37px;
    margin-bottom: 37px;
    margin-left: 72px;
    margin-right: 72px;
}
#navbar_top{
    background-color: transparent;
}
.nav-links{
    color: black ;
    font-family: Roboto, Medium;
    font-size: 26px;
    text-decoration: none;
    margin-right: 62px;
    border-bottom: 1px solid transparent;
}   
.nav-links.active{
    font-family: Roboto, Medium;
    font-size: 26px;
    margin-right: 62px;
    color: white ;
    border-bottom: 1px solid white
} 
.nav-links:hover{
    color: white ;
    border-bottom: 1px solid white
}
.btn1 {
    font-size: 24px;
    font-family: Roboto;
    color: white;
    display: inline-block;
    line-height: 29px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    padding: 17px 38px;
    background-color: #F09B21;
    border-radius: 36px;
}
.btn1:hover{
    background-color: #282828;
}
.btn2 {
    font-size: 24px;
    font-family: Roboto, Medium;
    color: white;
    display: inline-block;
    line-height: 29px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    padding: 17px 48px;
    background-color: #FF0000;
    border-radius: 36px;
    margin-left: 30px;
}
.btn2:hover{
    background-color: #282828;
}
.home-section h1{
    text-align: center;
    font-family: Roboto, Bold;
    font-size: 60px;
    padding-top: 233px;
    padding-bottom: 50px;
    color: #fff;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav-pills .nav-link {
    background: #fff ;
    color: black;
    border: 0;
    font-size: 32px;
    font-family: Roboto, Medium;
    border-radius: 10px;
    padding: 10px 150px;
    box-shadow: #00000029 0px 3px 6px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: black;
}
.common-imgbtn{
    position: relative;
    padding: 80px 50px 60px 50px;
    border: 2px solid #FFFFFF;
    border-radius: 47px;
    opacity: 1; 
}
.common-imgbtn::before{
    content: " ";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    backdrop-filter: blur(10px);
    border-radius: 47px;
}
.tabs-btt{
    position: relative;
}
.tab-unlist{
    position: relative;
    margin-bottom: -35px;
    z-index: 1;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 15px;
    margin-bottom: 30px;
}
.card-body {
    flex: 1 1 auto;
    padding: 0px 0px;
}
.card-title {
    font-size: 22px;
    line-height: 27px;
    color: #282828;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 16px;
    border-radius: 0px 0px 15px 15px;
}
.card-title:hover{
    color: #fff;
    background-color: #FF0000;
}
.example1{
    display:flex;
    background-color: #fff;
    border-radius: 16px;

}
.loc-in {
    font-size: 20px;
    line-height: 24px;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
  } 
.fa-search{
    padding: 17px;
    line-height: 33px;
    font-size: 27px;
    color: #fff;
    font-size: 17px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    align-items: center;
    border-left: none;
    cursor: pointer;
  }
  .example4{
    display:flex;
    background-color: red;
    border-radius: 16px;
}
.sear-in {
    padding: 18px 0px;
    font-size: 20px;
    line-height: 24px;
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    width: 100%;
  }
  .sear-in:hover{
    color: #282828;
  } 
  .sear-in::placeholder{
    color: red;
  }
.fa-location-dot{
    padding: 17px;
    line-height: 33px;
    font-size: 27px;
    color: black;
    font-size: 17px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    align-items: center;
    border-left: none;
    cursor: pointer;
  }
.com-sel1{
    padding:19px 75px 19px 10px;
    background-color: #fff;
    font-size: 20px;
    line-height: 24px;
    border-radius: 16px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.com-sel2{
    padding:19px 70px 19px 10px;
    background-color: #fff;
    font-size: 20px;
    line-height: 24px;
    border-radius: 16px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
} 

/* carousel-section */
.item{
    padding-top: 45px;
    padding-bottom: 45px;
}
.carousel-hedaing h1{
    font-size: 40px;
    padding-top: 145px;
    font-family: Roboto;
    position: relative;
}
.carousel-hedaing h1::after{
    content: " ";
    position: absolute;
    width: 60%;
    height: 2px;
    border-bottom: 2px solid #F09B21;
    display: inline-block; 
    bottom: 10px;
    right: 10px;
}

.testimonials{
	background-image: url(images/bg2-img.png);
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#customers-testimonials h5{
    font-family: Roboto;
	margin: 0;
	font-size: 26px;
	line-height: 32px;
}
#customers-testimonials p{
    font-family: Roboto;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 0;
    padding-top: 20px;
}
#customers-testimonials1 h5{
    font-family: Roboto;
	margin: 0;
	font-size: 26px;
	line-height: 32px;
}
#customers-testimonials1 p{
    font-family: Roboto;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 0;
    padding-top: 20px;
}
#customers-testimonials2 p{
    font-family: Roboto;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
    margin-bottom: 0;
    padding: 20px 0px;
}
#customers-testimonials2 h5{
    font-family: Roboto;
	margin: 0;
    text-align: center;
	font-size: 26px;
	line-height: 32px;
    color: black;
}
#customers-testimonials2 .shadow-effect{
    justify-content: center;
}
.item-sp{
    font-family: Roboto;
    font-size: 16px;
    list-style: 19px;
}
.owl-nav.disabled {
    display: block !important;
}
.owl-carousel .owl-nav [class*='owl-'] {
    transition: all .3s ease;
}
.owl-carousel {
    position: relative;
}
.owl-carousel .owl-nav button.owl-next:hover{
    background-color: #F09B21;  
}
.owl-carousel .owl-nav button.owl-prev:hover{
    background-color: #F09B21;  
}
.owl-carousel .owl-next {
    font-size: 50px !important;
    width: 80px;
    height: 80px;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    color: #fff !important;
    border: 1px solid #fff!important;
    text-align: center;
}
.owl-carousel .owl-prev {
    font-size: 50px !important;
    width: 80px;
    height: 80px;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    color: #fff !important;
    border: 1px solid #fff!important;
    text-align: center;
  }
  #customers-testimonials2.owl-carousel .owl-next {
    font-size: 50px !important;
    width: 80px;
    height: 80px;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    color:black !important;
    border: 1px solid #fff!important;
    background: #e7ebee;
    text-align: center;
}
#customers-testimonials2.owl-carousel .owl-next:hover{
    background: #F09B21;
}
#customers-testimonials2.owl-carousel .owl-prev {
    font-size: 50px !important;
    width: 80px;
    height: 80px;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    color: black !important;
    border: 1px solid #fff!important;
    background: #e7ebee;
    text-align: center;
  }
  #customers-testimonials2.owl-carousel .owl-prev:hover{
    background: #F09B21;
  }
/* .owl-carousel .owl-next, */
.owl-carousel .owl-prev {
    left: -120px;
}
.owl-carousel .owl-next {
    right: -120px;
}
.owl-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}
.owl-carousel button.owl-dot {
    background: black;
    border:2px solid #fff;
    padding: 0!important;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.owl-dots .owl-dot.active{
    background: #6c757d;
}
/* banner-section */
.banner-section{
    display: flex;
    border: 2px solid #FFFFFF;
    border-radius: 19px;
}
.banner-con{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 75px;
}
.banner-section2{
    border: 2px solid #FFFFFF;
    border-radius: 19px;
}
.baneer2-con{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
}
.banner2-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner2-btn a{
    text-decoration: none;
    line-height: 29px;
    padding: 17px 39px;
    background-color: #F09B21;
    font-size: 24px;
    color: #fff;
    border-radius: 36px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    align-self: center;
}

/* Adventure-section */
.adventure-section{
    padding: 80px 0px;
}
.btn-primary {
    font-size: 16px;
    color: #fff;
    background-color: #F09B21;
    border-color: #F09B21;
    border-radius: 12px;
}
.btn-primary:hover{
    background-color: #282828;
    border-color: #282828;
}
.card-img-overlay {
    position: absolute;
    top: 55%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px;
}
.card-img-overlay p{
    font-family: Roboto;
    font-size: 24px;
    line-height: 31px;
    color: #fff;
}
.choose-heading{
    padding-top: 145px;
    padding-bottom: 50px;
}
.span-heading h1 {
    display: inline-block;
    position: relative;
    top: -25px;
    padding: 0px 30px 0px 0px;
    background-color: #fff;
}
.span-heading{
   display: inline-block;
   position: relative;
   border-top: 2px solid #F09B21;
   width: 100%;
}
.fab-content{
    padding: 50px 0px;
}
.fab-content h1{
    font-family: Roboto;
}
.fab-content p{
    font-family: Roboto;
    font-size: 26px;
    color: #6E6E6E;
}
.card-img-overlays {
    position: absolute;
    top: 80%;
    right:0;
    bottom:0;
    left: 0;
    padding: 16px;
}
.card-img-overlays a {
   text-decoration: none;
   color: #fff;
}
/* bookevent-section */
.bookstay-con1{
    padding: 0px 100px;
}
.client-sec{
    padding-top: 50px;
}
.card-con{
    text-align: center;
    line-height: 34px;
    font-size: 26px;
    font-family: Roboto;
    color: black !important;
    padding-bottom: 20px;
}
.card-img-overlaye {
    position: absolute;
    top: 30%;
    right:0;
    bottom:0;
    left: 0;
    padding: 16px;
}
.stay-heading p{
   font-size: 22px;
   font-family: Roboto;
}
.bookstay-con{
    padding-bottom: 50px;
}
/* contact-section */
.contact-section{
    padding-top: 50px;
}
.contact-section h1{
    font-size: 44px;
    font-family: Roboto;
    padding-bottom: 20px;
}
.con1 ul{
    list-style: none;
    font-size: 26px;
    font-family: Roboto;
    padding-left: 0px;
}
.con2{
    font-size: 26px;
    font-family: Roboto;
}
.form-control{
    font-size: 18px;
    font-family: Roboto;
}
.form-text {
    font-size: 18px;
    color: #6c757d;
    margin-left: 10px;
    margin-top: 0px;
}
.btnf {
    display: flex;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color:#F09B21;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    border-radius: 12px;
    
}
/* footer-section */
.footer-section p{
    font-size: 26px;
    font-family: Roboto;
    text-align: center;
    padding: 20px 0px;
}
/* common media query-home-section */
/* navbar */
@media screen and (max-width:425px) {
    .navbrand-img{
        width: 120px;
    }
}
@media screen and (max-width:1440px) {
    .nav-links{
        font-size: 20px;
        margin-right: 45px;
    }   
}
@media (min-width: 992px){ 
    .navbar-expand-lg .navbar-nav .nav-link {
       padding: 0px;
    }
}
@media screen and (max-width:1440px) {
    .nav-links.nav-links.active{
        font-size: 20px;
        margin-right: 45px;
    }   
}
@media screen and (max-width:1440px) {
    .btn1{
        font-size: 20px;
        padding: 17px 30px;
    }
}
@media screen and (max-width:1440px) {
    .btn2{
        font-size: 20px;
        padding: 17px 40px;
    }
}
/* 1340px media screen */
@media screen and (max-width:1340px) {
    .container-fluid{
        margin-top:10px;
        margin-left: 10px;
        margin-right: 10px;  
        margin-bottom: 0px; 
    }
    .com-sel1{
        padding: 19px 45px 19px 10px;
    }
    .com-sel2{
        padding: 19px 33px 19px 10px;
    }
    .fa-search{
        margin-left: 10px;
    }
    .carousel-hedaing h1::after{
        width: 52%;
    }
    #customers-testimonials h5{
        font-size: 25px;
    }
    #customers-testimonials1 h5{
        font-size: 25px;
    }
    .banner2-btn a{
        font-size: 22px;
        padding: 17px 30px;
    }
    .card-img-overlay p{
        font-size: 20px;
    }
    .fab-content h1{
        font-size: 30px;
    }
    .card-con{
        font-size: 22px;
    }
    .card-img-overlaye{
        top: 25%;
    }
    .contact-section h1{
        font-size: 40px;
    }
}
/* 1199px @media screen  */
@media screen and (max-width:1199px) {
    .nav-pills .nav-link{
        padding: 10px 100px;
    }
    .card-title{
        font-size: 20px;
       }
       .com-sel1 {
        padding: 19px 10px 19px 10px;
        font-size: 18px;
    }
    .com-sel2 {
        padding: 19px 5px 19px 10px;
        font-size: 18px;
    }
    .fa-search{
        padding: 15px;
        margin-left: 0;
    }
    .fa-location-dot{
        padding: 15px;
    }
    .carousel-hedaing h1::after {
        width: 44%;
    }
    #customers-testimonials h5 {
        font-size: 20px;
    }
    #customers-testimonials1 h5 {
        font-size: 20px;
    }
    .banner-con h2{
        font-size: 30px;
       }
       .baneer2-con h2{
        font-size: 24px;
       }
       .banner2-btn a {
        font-size: 20px;
        padding: 14px 25px;
    }
    .card-img-overlay{
        top:40%;
    }
    .card-img-overlay p{
        font-size: 16px;
    }
    .fab-content h1{
        font-size: 25px;
    }
    .fab-content p{
        font-size: 20px;
    }
    .card-con{
        font-size: 18px;
        line-height: 30px;
    }
    .bookstay-con1{
        padding: 0px 50px;
    }
    .contact-section h1 {
        font-size: 32px;
    }
    .con1 ul{
        font-size: 20px;
    }
    .con2{
        font-size: 20px;
    }
    .footer-section p{
        font-size: 24px;
    }
    #customers-testimonials2 p{
        font-size: 20px;
    }
}
@media screen and (max-width:1024px) {
    .nav-links.active{
        font-size: 15px;
        margin-right: 20px;
    }
    .nav-links{
        font-size: 15px !important;
        margin-right: 20px !important;
    }
    .btn1{
        font-size: 15px ;
        padding: 10px 20px;
    }
    .btn2{
        font-size: 15px ;
        padding: 10px 30px;
        margin-left: 20px;
    }
}
@media screen and (max-width:1024px) {
  
   .fa-location-dot{
    padding: 8px;
} 
.fa-search{
    font-size: 17px;
    margin-left: 10px;
    padding: 9px;
}
.sear-in{
    padding: 10px 0px;
}
.com-sel1{
    font-size: 17px;
    padding: 12px 20px 12px 10px;
}
.com-sel2{
    font-size: 17px;
    padding: 12px 10px 12px 10px;
}
}
/* @media screen 991px */
@media screen and (max-width:991px) {
    .nav-pills .nav-link {
        padding: 10px 50px;
        font-size: 30px;
    }
    .com-sel1 {
        font-size: 20px;
        padding: 10px 88px 10px 10px;
    }
    .com-sel2 {
        font-size: 20px;
        padding: 10px 78px 10px 10px;
    }
    .example1{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 768px){
    .com-sel1 {
        font-size: 17px;
        padding: 12px 113px 12px 10px;
    }
    .com-sel2 {
        font-size: 17px;
        padding: 12px 103px 12px 10px;
    }
    .home-section h1{
        font-size: 50px;
    }
}
@media screen and (max-width:768px) {
    .nav-item{
        margin-bottom: 10px;
    }
    .nav-pills .nav-link{
        font-size: 20px;
        padding: 10px 80px;
    }
}
/* @media screen 640px */
@media screen and (max-width:640px) {
    .nav-pills .nav-link{
        font-size: 20px;
        padding: 10px 50px;
    } 
    .com-sel1 {
        font-size: 17px;
        padding: 12px 23px 12px 10px;
    }
    .com-sel2 {
        font-size: 17px;
        padding: 12px 15px 12px 10px;
    }
}
    
@media screen and (max-width:320px) {
    .btn2{
        padding: 10px 32px;
        margin-top: 10px;
        margin-left: 0;
    }
}

@media screen and (max-width:425px) {
    .nav-pills .nav-link{
        font-size: 15px;
        padding: 10px 25px;
    }
}
@media screen and (max-width:425px) {
   .tab-unlist{
    margin-bottom: -25px;
   } 
}
@media screen and (max-width:425px) {
    .com-sel1 {
        font-size: 17px;
        padding: 12px 126px 12px 10px;
    }
    .com-sel2{
        font-size: 17px;
        padding: 12px 115px 12px 10px;
    }
}
@media screen and (max-width: 375px){
    .com-sel1 {
        font-size: 17px;
        padding: 12px 80px 12px 10px;
    }
    .com-sel2 {
        font-size: 17px;
        padding: 12px 68px 12px 10px;
    }
}
@media screen and (max-width: 320px){
    .com-sel1 {
        font-size: 17px;
        padding: 12px 25px 12px 10px;
    }
    .com-sel2 {
        font-size: 17px;
        padding: 12px 15px 12px 10px;
    }
}

@media screen and (max-width:1024px) {
    .common-imgbtn{
        padding: 80px 50px 50px 50px;
    }
}
@media screen and (max-width:768px) {
    .example1, .example2, .example3, .example4{
        margin-bottom: 8px;
    }
}
/* .owl-carousel */

@media screen and (max-width:1440px) {
    .owl-carousel .owl-next {
        font-size: 30px !important;
        width: 50px;
        height: 50px;
        right: -5%; 
    }
    #customers-testimonials2.owl-carousel .owl-next{
        font-size: 30px !important;
        width: 50px;
        height: 50px;
        right: -5%; 
    }
}
@media screen and (max-width:1340px) {
    .owl-carousel .owl-next{
        right: -7%;
    }
}
@media screen and (max-width:1024px) {
    .owl-carousel .owl-next {
        font-size: 20px !important;
        width: 30px;
        height: 30px;
        right: -4%; 
    }
    #customers-testimonials2.owl-carousel .owl-next {
        font-size: 20px !important;
        width: 30px;
        height: 30px;
        right: -4%; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .carousel-hedaing h1::after{
        width: 45%;
    }
    .carousel-hedaing h1 {
        padding-top: 100px;
     }
}
@media screen and (max-width:991px) {
    .carousel-hedaing h1::after {
        width: 25%;
    }
}
@media screen and (max-width:768px) {
    .carousel-hedaing h1 {
       padding-top: 50px;
       font-size: 35px;
    }
    .carousel-hedaing h1::after{
        width: 36%;
    }
    .item{
        padding-bottom: 10px;
    }
}
@media screen and (max-width:640px) {
    .carousel-hedaing h1{
        font-size: 30px;
    }
    .carousel-hedaing h1::after {
        width: 24%;
    }
}
@media screen and (max-width:425px) {
    .carousel-hedaing h1 {
        font-size: 24px;
     }
    .carousel-hedaing h1::after{
        width: 0;
    }
}
@media screen and (max-width:1440px) {
    .owl-carousel .owl-prev{
        font-size: 30px !important;
        width: 50px;
        height: 50px;
        left: -5%; 
    }
    #customers-testimonials2.owl-carousel .owl-prev{
        font-size: 30px !important;
        width: 50px;
        height: 50px;
        left: -5%; 
    }
}
@media screen and (max-width:1340px) {
    .owl-carousel .owl-prev{
        left: -7%;
    }
}
@media screen and (max-width:1024px) {
    .owl-carousel .owl-prev{
        font-size: 20px !important;
        width: 30px;
        height: 30px;
        left: -4%; 
    }
    #customers-testimonials2.owl-carousel .owl-prev{
        font-size: 20px !important;
        width: 30px;
        height: 30px;
        left: -4%;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
}
@media screen and (max-width:991px) {
    .owl-carousel .owl-prev,.owl-carousel .owl-next{
        display: none;
    }
}
@media screen and (max-width:1024px) {
   #customers-testimonials h5,#customers-testimonials1 h5  {
        font-family: Roboto;
        font-size: 21px;
        line-height: 32px;
    }
    #customers-testimonials2 p{
        font-size: 20px;
    } 
}
/* banner-section */
@media screen and (max-width:1024px) {
   .banner-con h2{
    font-size: 30px;
   } 
}
@media screen and (max-width:991px) {
    .banner-con h2 {
        font-size: 20px;
    }
    .item{
        padding-bottom: 0;
    }
}
@media screen and (max-width:768px) {
    .banner-con{
        padding: 0px 35px;
    }
}
@media screen and (max-width:768px) {
    .banner-con h2{
        font-size: 20px;
    }
}
@media screen and (max-width:640px) {
    .banner-con h2 {
        font-size: 15px;
    }
}
@media screen and (max-width:1024px) {
    .baneer2-con h2{
        font-size: 27px;
    }
    .baneer2-con{
        padding: 0px 15px;
    }
    .banner2-btn a {
        padding: 13px 10px;
        font-size: 24px;
    }
    .card-img-overlay p{
        font-size: 15px;
        line-height: 25px;
    }
}
@media screen and (max-width:991px) {
    .banner2-btn a {
        padding: 10px 10px;
        font-size: 20px;
    }
    .baneer2-con h2 {
        font-size: 20px;
    }
    .adventure-section {
        padding: 50px 0px;
    }
    .card-img-overlay p {
        font-size: 20px;
        line-height: 25px;
    }
    .card-img-overlay {
        top: 65%;
    }
    .choose-heading {
        padding-top: 60px;
        padding-bottom: 10px;
    }
    .fab-content h1 {
        font-size: 30px;
    }
    .fab-content p {
        font-size: 22px;
    }
}
@media screen and (max-width:768px) {
    .baneer2-con h2{
        font-size: 20px;
    }
    .card-img-overlay p{
        font-size: 24px;
        line-height: 31px;
    }
    .banner2-btn a {
        padding: 10px 10px;
        font-size: 20px;
    }
}
@media screen and (max-width:640px) {
    .banner2-btn a{
        margin: 10px;
    } 
    .card-img-overlay p{
        font-size: 20px;
    }
    .card-img-overlay {
        top: 40%;
    }
    .banner-img{
        border-radius: 19px; 
    }
   
}
@media screen and (max-width:425px){
    .baneer2-con h2 {
        font-size: 26px;
        padding: 10px 0px;
        
    }
    .banner-con h2 {
        font-size: 25px;
    }
    .banner2-btn{
        margin-bottom: 10px;
    }
    .card-img-overlay {
        top: 70%;
    }
    
}
/* book-events */
@media screen and (max-width:768px) {
    .bookstay-con1{
        padding: 0px 0px;
    }
}
/* choose-fabvenue */
@media screen and (max-width:1024px) {
    .fab-content h1{
        font-size: 29px;
    }
    .fab-content p{
        font-size: 19px;
    }
    .card-con{
        font-size: 18px;
        line-height: 22px;
    } 
}
@media screen and (max-width:640px) {
   .fab-content h1 {
        font-size: 22px;
    }
    .fab-content p {
        font-size: 17px;
    }
}
@media screen and (max-width:425px) {
    .card-con {
        font-size: 30px;
        line-height: 32px;
    }
    .home-section h1{
        font-size: 30px;
    }
}
@media screen and (max-width:320px) {
    .card-img-overlay {
        top: 50%;
    }
    .nav-pills .nav-link {
        font-size: 15px;
        padding: 10px 15px;
    }
    .banner-con {
        padding: 0px 25px;
    }
    .banner-con h2 {
        font-size: 20px;
    }
    .baneer2-con h2 {
        font-size: 21px;
    }
    
}
@media screen and (max-width:768px) {
    .choose-heading{
        padding-top: 50px;
        padding-bottom: 10px;
    }
}
/* .contact-section */
@media screen and (max-width:1024px) {
    .contact-section h1{
        font-size: 35px;
    }
    .con1 ul{
        font-size: 20px;
    }
    .con2{
        font-size: 20px;
    }
}
@media screen and (max-width:991px) {
    .contact-section h1 {
        font-size: 25px;
    }
}
@media screen and (max-width:768px) {
    .contact-section h1{
        font-size: 25px;
    }
    .footer-section p{
        font-size: 20px;
    }
}
@media screen and (max-width:640px) {
    .stay-heading p {
        font-size: 20px;
    }
    .contact-section h1 {
        font-size: 18px;
    }
    .con1 ul {
        font-size: 18px;
    }
    .con2 {
        font-size: 19px;
    }
    .card-con {
        font-size: 28px;
        line-height: 32px;
    }
}
@media screen and (max-width:425px) {
    .fab-content h1 {
        font-size: 30px;
    }
    .contact-section h1 {
        font-size: 25px;
    }
}
@media screen and (max-width:320px) {
    .span-heading h1{
        font-size: 21px;
    }
    .span-heading{
        border-top: none;
    }
    .stay-heading p {
        font-size: 15px;
    }
    .fab-content h1 {
        font-size: 22px;
    }
    .contact-section h1 {
        font-size: 22px;
    }
    .footer-section p {
        font-size: 15px;
    }
}
